﻿<%@ Page Title="Debtors" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Debtors.aspx.cs" Inherits="TPCSP_Lab_3.Debtors" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <ul class="list-group" id="debtors" runat="server">
        
    </ul>

</asp:Content>
